.header {
  position: fixed;
  display: flex;
  flex: 0 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  opacity: 0.99;
  z-index: 10;
  @media screen and(orientation: landscape) and(max-width: $bf-desktop) {
    position: sticky;
    height: 60px;
  }

  &__container {
    width: 1200px;
    @media screen and(min-width: $phone) and(max-width: $bf-tablet) {
      position: relative;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: $phone) and(max-width: $bf-tablet) {
  .header {
    width: 100%;
    display: block;
    height: 60px;
    padding: 20px 0;
    opacity: 1;
  }
}

@media screen and (min-width: $smart) and(max-width: $bf-desktop) {
  .header__container {
    width: 480px;
  }
}

@media screen and (min-width: $tablet) and(max-width: $bf-desktop) {
  .header {
    height: 80px;
    padding: 15px 0;
    opacity: 0.95;
    display: flex;
    align-items: center;

    &__container {
      width: 768px;
    }
  }
}
