.main__block {
  display: flex;
  flex: 1 0 auto;
  width: 1200px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and(min-width: $phone) and(max-width: $bf-smart) {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width: $smart) and(max-width: $bf-tablet) {
    width: 480px;
  }

  @media screen and(min-width: $tablet) and(max-width: $bf-desktop) {
    width: 768px;
  }
}

.cards {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
