.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
}

.footer-address {
  padding-top: 20px;
}

.footer__subscribe {
  @media screen and(min-width: $phone) and(max-width: $bf-desktop) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: $desktop) {
    margin-left: 90px;
  }
}

.contact__link {
  display: block;

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}
