.block__title,
.card__title,
.blocks__title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  color: #212121;

  @media screen and (min-width: $phone) and(max-width: $bf-desktop) {
    font-size: 28px;
    line-height: 1.18;
  }
}

.block__title {
  padding-bottom: 50px;
}

.card__title {
  margin-bottom: 50px;
}

.blocks__title {
  @media screen and (min-width: $phone) and(max-width: $bf-desktop) {
    padding-bottom: 15px;
  }
}
