$accent-color: #2196f3;

$main-text-color: #212121;
$secondary-text-color: #757575;
$bcg-text-color: #ffffff;

$phone: 320px;
$bf-smart: 479px;
$smart: 480px;
$bf-tablet: 767px;
$tablet: 768px;
$bf-desktop: 1199px;
$desktop: 1200px;
